:root {
  .VPHero.has-image .name {
    font-family: "AlimamaShuHeiTi";
  }

  .VPHero.has-image .image-bg {
    animation: rotateBgImg 4s infinite linear;
  }
}

/* 图片点击放大优先级调整 */
.medium-zoom {
  &-overlay,
  &-image {
    z-index: 999 !important;
  }
}
