:root {
  .VPHero.has-image .name {
    font-family: "AlimamaShuHeiTi";
  }

  .VPHero.has-image .text {
    font-family: "AlimamaShuHeiTi";
    color: var(--vp-home-hero-text-color);
    background-image: var(--vp-home-hero-text-background);
    background-size: 300% 100%;
    animation: gradientBg 2s ease-in-out infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* 仅在Webkit浏览器中生效 */
  }

  .VPHome {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .VPHero.has-image .image-bg {
    animation: rotateBgImg 4s infinite linear;
  }
}

/* 图片点击放大优先级调整 */
.medium-zoom {
  &-overlay,
  &-image {
    z-index: 999 !important;
  }
}
